.App {
  text-align: center;
  background: #FFFFFF;

  font-family: Arial,'Malgun Gothic',Gulim,sans-serif;
  font-size: 81.25%;
}


@media (max-width: 767px) {
	/* mobile */
  
}

@media (min-width: 768px) and (max-width: 991px) {
  /* tablet h */
  
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* tablet w */
  
}

@media (min-width: 1200px) {
  /* desktop */
  
}

.hyperLink {
  color: #61dafb;
}
